amqp==2.3.2
ansi2html==1.4.2
appdirs==1.4.3
atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.6.0
billiard==3.5.0.4
cached-property==1.4.3
celery==4.2.1
click==6.7
coverage==4.5.1
cycler==0.10.0
Cython==0.28.4
dill==0.2.8.2
Django==2.2.13
docker==3.4.1
docker-compose==1.22.0
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
dpkt==1.9.1
fasttext==0.8.3
Flask==1.0.2
future==0.16.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
kombu==4.2.1
MarkupSafe==1.0
matplotlib==2.2.2
matplotlib2tikz==0.6.17
more-itertools==4.2.0
multiprocess==0.70.6.1
numpy==1.15.0
olefile==0.45.1
packaging==17.1
pandas==0.23.3
pathos==0.2.2.1
pexpect==4.6.0
Pillow==9.0.0
pipdate==0.3.1
pkg-resources==0.0.0
pluggy==0.6.0
pox==0.2.4
ppft==1.6.4.8
ptyprocess==0.6.0
py==1.5.4
py-ms-cognitive==0.4.0
pyparsing==2.2.0
pytest==3.6.3
python-dateutil==2.7.3
pytz==2018.5
PyYAML==5.1
requests==2.20.0
requests-file==1.4.2
scipy==0.19.1
sh==1.12.14
simplejson==3.16.0
six==1.11.0
sortedcontainers==2.0.4
texttable==0.9.1
tldextract==2.1.0
twitter==1.18.0
vine==1.1.4
websocket-client==0.48.0
Werkzeug==0.15.3
websockify==0.8.0
